body{background-color: #42A1BE;}

.container{

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "Heading1 Heading1"
    "Navbar Navbar"
    "Heading2 Heading2"
    "video Text1"
    "photo1 Text2"
    "footer footer";
    
}



.Heading1{grid-area: Heading1;
text-align: center;
background-color: #1B3E5D;
color: #FFFFFF;}


.Navbar{
grid-area: Navbar;
background-color: #1B3E5D;
list-style-type: none;
}

.Heading2{
    grid-area: Heading2;
    background-color: #1B3E5D;
color: #FFFFFF;
}

.video{grid-area: video;
background-color: #1B3E5D;

}
.Text1{grid-area: Text1;
    background-color: #1B3E5D;
color: #FFFFFF;

}

.Text2{grid-area: Text2;
background-color: #1B3E5D;
color: #FFFFFF;
}

.photo1{grid-area: photo1;
background-color: #1B3E5D;
color: #FFFFFF;
}

.footer{grid-area: footer;
background-color: #1B3E5D;
text-align: center;
color: #FFFFFF;

}

