

body{
    background-color: #6cb8c9;
}
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-size: cover;
    background-position: center;
}

.menu{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
color: #fff;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}
.logo span{
    color: rgb(61, 117, 223);
}

.navbar{
    width: 600px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 200px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(61, 117, 223);
}

.container2{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "heading1 heading1"
    "par1 vid1"
    "par2 photo1"
    "footer footer";
 }

 .heading1{
    grid-area: heading1;
    color: #fff;
    text-align: center;
    font-size: xx-large;
 }
 .heading1 span{
    color: rgb(61, 117, 223);
 }

 .par1{
    grid-area: par1;
    color: #FFFF;
    width: 900px;
    padding: 20px;
    background-color: #1b3e5d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
 }

 .par1 span{
    color: #a30c0c;
    font-weight: bold;
    font-size: 100px;
 }

 .vid1{
    grid-area: vid1;
    width: 1000px;
    background-color: #1b3e5d;
    padding: 20px;
    text-align: center;
 }